<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="container">
    <%- include('../partials/header', {page: 'Sobre'}); %> 
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá, eu sou o Luiz Felipe, estudando para me tornar um dev front-end ou back-end, ou fullstack.</p>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>